<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Node.js" path="*" verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="C:\Program Files\nodejs\node.exe|D:\home\site\wwwroot\server.js" 
           resourceType="Unspecified" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="NodeJs" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="D:\home\site\wwwroot\server.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
